*{
    text-transform: uppercase;
}
h1{
    font-family:fantasy;
    color:blueviolet;
}
h2{
    font-family: monospace;
    color: blue;
}
h3{
    font-family:cursive;
    font-size: 12px;
}
p{
    font-style:italic;
    font-family:cursive;
    color:cadetblue;
}